# Python packages repository
PYTHON/.venv

# Python packages repository
R/renv

# R user settings
R/.Rproj.user
R/.Rprofile

# Test set predictions
PYTHON/test/test_pred.csv
R/test/test_pred.csv
.Rproj.user
